.Floor {
  font-size: 0.9rem;
  h5 {
    margin: 0 1rem;
    width: 120px;
    text-align: end;
  }

  button {
    padding: 0.5rem 0;
    margin: 0 1.4rem;
    width: 100px;
    color: $white;
    &.call {
      background-color: $green;
    }
    &.waiting {
      background-color: $red;
    }
    &.arrived {
      border: 1px solid $green;
      color: $green;
    }
  }

  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    .cell {
      background-color: $white;
      border: 0.5px solid $grey;
      width: 7rem;
      height: 3.5rem;
      text-align: center;
    }
  }
}